<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
    <ul>
        <li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
        <li> <a href="charts-graphs"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a> </li>
        <li> <a  href="widgets"><i class="icon icon-inbox"></i> <span>Widgets</span></a> </li>
        <li><a href="tables" ><i class="icon icon-th"></i> <span>Tables</span></a></li>
        <li><a href="full-width" ><i class="icon icon-fullscreen"></i> <span>Full width</span></a></li>
        <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Forms</span> <span
                    class="label label-important">3</span></a>
            <ul>
                <li><a href="forms">Basic Form</a></li>
                <li><a href="validation">Form with Validation</a></li>
                <li><a href="wizard">Form with Wizard</a></li>
            </ul>
        </li>
        <li><a href="button" ><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
        <li><a href="elements"><i class="icon icon-pencil"></i> <span>Elements</span></a></li>
        <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>Addons</span> <span
                    class="label label-important">4</span></a>
            <ul>
                <li><a href="addons">Dashboard2</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="calendar">Calendar</a></li>
                <li><a href="chatoption">Chat option</a></li>
            </ul>
        </li>
    </ul>

</div>
